/* 

.main{
    width: 400px;
    height: 400px;
    box-shadow: 40px;
    margin-left: 400px;
    margin-top: 30px;

    
    input{
       width: 335px;
       outline: none;
    border-left: none;
    border-top: none;
    border-right: none;
    padding-left: 20px;
}
.input-group{
    display: flex;
    padding-left: 30px;

}
.bi-person-fill,.bi-envelope-fill,.bi-key-fill, .bi-lock-fill{
    position: absolute;
   
}
.heading{
    display: block;
   padding: 20px;
   text-align: center;
   font-size: 30px;
}
.btn1{
    width: 340px;
    padding-left: 20px;
    background-color:rgb(0, 0, 255);
    margin-top: 40px;
    margin-left: 25px;
    border-radius: 5px;
}

} */
